*.iml
.gradle
.idea
/.idea
/local.properties
/gradle.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/obfustring-plugin/build/
/obfustring-core/obfustring-core-publish-scripts/
/app/
/.idea/
/buildSrc/build/
/exampleapp/com.conboi.examplekeystore
/gradle/wrapper/
/.gitattributes
/gradlew
/gradlew.bat
